.styleTable {
	margin-left: auto; margin-right : auto;
	border: 1px solid #1C6EA4;
	background-color: #FDFDFD;
	width: 40%;
	text-align: center;
	border-collapse: collapse;
	margin-right: auto;
}

table.styleTable td, table.styleTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.styleTable tbody td {
	font-size: 13px;
	color: #333333;
}

table.styleTable tr:nth-child(even) {
	background: #FFEBD2;
}

table.styleTable thead {
	background: #3b3b3b;
	opacity: 85%;
}

table.styleTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}